section.login
    .login__inner
        .logo
            img.logo__img(src="/assets/img/logo.svg", alt="logo")
            .logo__title obeder
        .login-form
            .login-form__input-group
                input#email.login-form__input(type="email" placeholder="Электропочта" name="email") 
                .login-form__input-underline
            .login-form__input-group
                input#pass.login-form__input(type="password" placeholder="Кодовое слово" name="pass")
                .login-form__input-underline
            #log-btn.login-form__btn Обедать!
        .login-form__descr Крайне мелкий текст поясняющий магические особенности входа или регистрации