section.login
    .login__inner
        .login-logo
            img.login-logo__img(src="/assets/img/logo.svg", alt="logo")
            .login-logo__title obeder
        .login-form
            .login-form__input-group
                input.login-form__input(type="mail" placeholder="Электропочта") 
                .login-form__input-underline
            .login-form__input-group
                input.login-form__input(type="text" placeholder="Кодовое слово")
                .login-form__input-underline
        a.login-form__btn(href="/menu-schedule.html") Обедать!
        .login-form__descr Крайне мелкий текст поясняющий магические особенности входа или регистрации