include menu-item

section.menu
    .menu__inner
        .menu__text Приходите завтра!
        .menu__day.menu__day_visible
            .menu__title Понедельник, сегодня, 6 февраля
            ul.menu__list
                +menu-item('Салаты', 'salad', 'Нежный', 'Винегрет овощной со свежим горошком')
                +menu-item('Супы', 'soup', 'Борщ с галушками по-украински', 'Щи щецкие по щщам дающие на серьёзных щщах')
                +menu-item('Вторые блюда', 'second-meal', 'Уберкарбонара с соусом из усов шанхайского барса', 'Пельмехи зачотные', 'menu-item_disabled')(disabled)
                +menu-item('Мясо', 'meat', 'Купаты купательные', 'Сосиски немецкие с сыром, приправами, чесноком и базиликом')
                +menu-item('Гарниры', 'garnish', 'Рис-хуис', 'Макарохи')
                .menu-comment__block
                    textarea.menu-comment__textarea
                    button.menu-comment__btn Сбросить в дефолт!
        .menu__day.menu__day_visible
            .menu__title Вторник, завтра, 7 февраля
            ul.menu__list
                +menu-item('Салаты', 'salad2', 'Нежный', 'Винегрет овощной со свежим горошком')
                +menu-item('Супы', 'soup2', 'Борщ с галушками по-украински', 'Щи щецкие по щщам дающие на серьёзных щщах')
                +menu-item('Вторые блюда', 'second-meal2', 'Уберкарбонара с соусом из усов шанхайского барса', 'Пельмехи зачотные')
                +menu-item('Мясо', 'meat2', 'Купаты купательные', 'Сосиски немецкие с сыром, приправами, чесноком и базиликом')
                +menu-item('Гарниры', 'garnish2', 'Рис-хуис', 'Макарохи')