include menu-item

section.menu
    .menu__inner
        .menu__day
            .menu__title Понедельник, сегодня, 6 февраля
            ul.menu__list
                +menu-item('Супы', 'soup', 'Борщ с галушками по-украински', 'Щи щецкие по щщам дающие на серьёзных щщах')
                +menu-item('Мясо', 'meat', 'Купаты купательные', 'Совами, чесноком и базиликом')
                +menu-item('Супы', 'soup', 'Борщ с галушками по-украински', 'Щи щецкиых щщах')
                +menu-item('Супы', 'soup', 'Борщ с галушками по-украински', 'Щи щецкие по щщам дающие на серьёзных щщах')