* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $white;
}

// Media queries mixin

$lg: 639px;
$md: 530px;
$sm: 480px;

@mixin respond($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}