.login {
    display: flex;
    justify-content: center;
    padding: 55px 0 45px;

    &__inner {
        width: 268px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-logo {
        margin-bottom: 60px;

        &__img {
            width: 160px;
            height: 160px;
            margin-bottom: 10px;
        }

        &__title {
            color: $black;
            font-size: 36px;
            font-family: 'Righteous', cursive;
            text-align: center;
        }
    }

    &-form {
        width: 100%;
        margin-bottom: 37px;

        &__input {
            width: 100%;
            height: 25px;
            font-size: 18px;
            font-style: italic;
            text-align: center;
            border: none;
            border-bottom: 2px solid $dusty-gray;

            &:focus {
                outline: none;

                +.login-form__input-underline {
                    transform: scale(1);

                }
            }

            &::-webkit-input-placeholder {
                color: $gray;
            }

            &-group {
                position: relative;
                margin-bottom: 19px;

                &_error {
                    .login-form__input {
                        color: $red;
                        border-bottom: 2px solid $red;
                        &:focus {
                            color: $black;
                        }
                    }
                    .login-form__message {
                        color: $red;
                    }
                }
            }

            &-underline {
                position: absolute;
                display: inline-block;
                width: 100%;
                height: 2px;
                top: 0;
                left: 0;
                margin-top: 23px;
                background-color: $black;
                transform: scale(0, 1);
                transition: all .3s linear;
            }
        }

        &__message {
            color: $gray;
            font-size: 12px;
        }

        &__btn {
            display: block;
            width: 140px;
            line-height: 40px;
            height: 40px;
            color: $white;
            font-size: 20px;
            text-align: center;
            background: $pelorous;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
            margin: 0 auto 33px;
        }

        &__descr {
            color: $gray;
            font-size: 12px;
            text-align: center;
        }
    }
}