.menu {
    padding-top: 84px;

    &__inner {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
    }

    &__text {
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 40px;
        font-size: 42px;
        opacity: 0;
        overflow: hidden;
        transition: opacity 320ms ease-in-out;

        &_visible {
            opacity: 1;
            transition: opacity 1050ms ease-in-out;
        }
    }

    &__title {
        color: $black;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.0188px;
        margin-bottom: 30px;
    }

    &__list {
        column-count: 2;
        column-gap: 28px;
        column-fill: balance;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__day {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: height 350ms ease-in-out,
            opacity 750ms ease-in-out;
        margin-bottom: 50px;

        &_visible {
            height: auto;
            opacity: 1;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-item {
        display: inline-block;
        width: 100%;
        padding: 14px 24px 31px;
        background-color: $alabaster;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24),
            0px 0px 2px rgba(0, 0, 0, 0.12);
        border-radius: 3px;
        margin-bottom: 28px;

        &_disabled {
            .menu-item {
                &__title {
                    opacity: 0.2;
                }

                &__label {
                    opacity: 0.2;
                }
            }

        }

        &__title {
            color: $black;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.0130556px;
            margin-bottom: 12px;
        }

        &__label {
            display: flex;
            flex-flow: row-reverse;
            justify-content: flex-end;
            cursor: pointer;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__radio {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked~.menu-item__mark {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $green;
                border: none;

                &:before {
                    content: '';
                    display: inline-block;
                    width: 14px;
                    height: 10px;
                    background: url('../img/ok.svg') no-repeat;
                }
            }
        }

        &__mark {
            width: 18px;
            height: 18px;
            flex: 0 0 auto;
            border: 2px solid #747474;
            border-radius: 3px;
            transition: background-color .3s,
            border .1s;
        }

        &__dishname {
            font-size: 16px;
            margin-left: 9px;
            letter-spacing: 0.0161143px;
            user-select: none;
        }
    }

    &-comment {
        &__textarea {
            width: 100%;
            height: 86px;
            font-size: 16px;
            resize: none;
            border: 1px solid $dusty-gray;
            padding: 10px;
            margin-bottom: 20px;
        }

        &__btn {
            display: block;
            width: 290px;
            height: 40px;
            color: $white;
            font-size: 20px;
            text-align: center;
            background: $pelorous;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}